

/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/release.properties


/.gradle/
/build/


.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/


.DS_Store
Thumbs.db


*.log


.spring/

